head{
    align-content: center;
    background-image: "https://vignette1.wikia.nocookie.net/ssb/images/2/2b/Pokemonstadium.jpg/revision/latest?cb=20080401180941"
}
body{
    background-image: "https://vignette1.wikia.nocookie.net/ssb/images/2/2b/Pokemonstadium.jpg/revision/latest?cb=20080401180941";
}